.lds-ellipsis {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  margin-top:-32px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.ctable-progress{
    background: #dbdbdb;
    opacity: 0.5;
    text-align: center;
    position:absolute;
}

.select2-container .select2-selection--single {
  height: auto !important;
  padding: 3px 0 !important;
  border: 1px solid #dbdbdb !important;
}
.select2-container .select2-selection--single .select2-selection__arrow {
  top: 5px !important;
  display: none;
}
.select2-container .select2-selection--single .select2-selection__placeholder {
  color: #dbdbdb !important;
}
.select2-container .select2-dropdown {
  border: 1px solid #dbdbdb !important;
  border-top: 0 !important;
}
.select2-container .select2-dropdown .select2-search {
  margin: 5px;
}
.select2-container .select2-dropdown .select2-search .select2-search__field {
  padding: 10px !important;
  border-radius: 3px !important;
  font-size: 1rem;
  height: 2.25em;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 100%;
  border-radius: 3px !important;
}
.select2-container .select2-dropdown .select2-results__options {
  max-height: 200px !important;
}
.select2-container .select2-dropdown .select2-results__options .select2-results__option {
  padding: 0.37em 0.75em !important;
  font-size: 1rem;
}

.ctable-table tbody tr td, .ctable-table thead tr th, .ctable-table tfoot tr th {
    vertical-align:middle;
}
