/* CSS Rules for Google Material Symbols Font support */

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url("./material-symbols-outlined.woff2") format("woff2");
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

.material-symbols-outlined-small {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 1.0em;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
    transform: translateY(0.15em);
}

/* Prevent x scroll back */

html, body {
    overscroll-behavior-x: none;
}

/* Prevent y scroll update */

html,
body {
    overscroll-behavior-y: contain;
}

/* Fix control z-index */

.select::after {
    z-index: 1 !important;
}

.control.has-icons-left .icon {
    z-index: 1 !important;
}


/* Global CTable rules */

.ctable-head-table th {
    border: 1px solid;
    padding-left:0.2em;
    padding-right:0.2em;
    color: var(--bulma-body-color);
    white-space: nowrap;
    overflow: hidden;
}

.ctable-head-table {
    table-layout:fixed;
}

.ctable-head-table td {
    padding-left:0.2em;
    padding-right:0.2em;
}

.ctable-main-table td {
    border: 1px solid;
    border-color:var(--bulma-body-color);
    padding:0.2em;
    overflow:clip;
}

.ctable-main-table td div {
    border-color:var(--bulma-body-color);
    max-height:3em;
    overflow:hidden;
    text-overflow:clip;
}

.ctable-main-table {
    table-layout:fixed;
}

.ctable-top-panel-block{
    margin:auto;
}

.ctable-title-table{
    width:100%;
}

.ctable-scroll-head-table::-webkit-scrollbar {
    display: none;
}


.ctable-scroll-head-table {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-x:scroll;
}

.ctable-head-table {
    margin:auto;
}

/*.ctable-scroll-button-panel::-webkit-scrollbar {
    display: none;
}

.ctable-scroll-button-panel{
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x:scroll;
}

.ctable-button-panel{
    margin: auto;
}*/

.ctable-command-panel{
    padding-top: 0.3em;
}

.ctable-button-row{
    vertical-align: top;
    margin-left:0.5em;
    margin-right:0.5em;
}

.ctable-button-row-left{
    display:inline-block;
    overflow: hidden;
    max-height: 2.1em;
    max-width:calc(100% - 4em);
    width:calc(100% - 4em);
}

a.dropdown-item.is-primary.is-soft {
    background-color: rgb(0, 102, 87);
    color: rgb(204, 255, 247);
}

a.dropdown-item.is-warning.is-soft {
    background-color: rgb(102, 71, 0);
    color: rgb(255, 240, 204);
}

a.dropdown-item.is-danger.is-soft {
    background-color: rgb(102, 0, 20);
    color: rgb(255, 204, 214);
}

.ctable-button-row-right{
    display: inline-block;
    width: 4em;
    vertical-align: top;
    margin-top: 0.25em;
}

.ctable-scroll-main-table {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    overflow-x:scroll;
    margin:auto;
}

.ctable-main-table {
    margin:auto;
    margin-top:calc(8.1rem + 1.5em);
}

.ctable-top-panel {
    position: fixed;
    top:0em;
    width:100%;
    background-color:var(--bulma-scheme-main);
    z-index:4;
}

.ctable-top-panel-text {
    max-height:1.8em;
    overflow:clip;
    text-align:center;
}

.ctable-entry-action-panel {
    position: fixed;
    bottom:0em;
    left: 50%;
    transform: translateX(-50%);
    width: min(90%, 36em);
    display:none;
    z-index:4;

}

tr.ctable-selected-row{
    background-color: var(--bulma-primary-soft);
    color: var(--bulma-primary-soft-invert);
}

.ctable-editor-section{
    padding-top: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.ctable-editor-panel{
    margin:auto;
    padding-bottom:3em;
    padding-left:0.75em;
    padding-right:0.75em;
    padding-top:1em;
}

.ctable-progress{
    padding: 0em;
    margin: auto;
    border-radius: 0px;
    height: 0.2em !important;
    margin-bottom: 0em !important;
    background-color: var(--bulma-skeleton-background);
}

.ctable-main-table span.tag{
    font-size: unset;
    margin: 0.1em;
}

.ctable-main-table button{
    font-size: unset;
}